{% extends "layout.html" %}

{% load static %}

{% block  body %}



<div class="col-md-6">
 <form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %}

    <input class="name" type="text"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Name" required>
  <br/>
  <input class="email" type="email"  class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Email"required>
  <br/>
  <input class="phone"  type="number" class="form-control mt-2 mb-2 btn btn-outline-success"  placeholder="Phone number"required>
  <br/>
  <input class="age" type="number" class="form-control mt-2 mb-2 btn btn-outline-success"    placeholder="Age" required>
  <br/>
  <input class="image" type="file"  class="form-control mt-2 mb-2 btn btn-outline-success" required>
  <br/>
  <input type="submit" class="form-control btn btn-success"    value="save" >

 </form>


</div>

 {% endblock  %}
