{% extends "layout.html" %}

{% load static %}

{% block  %}




 <form action="" method="post" enctype="multipart/form-data">
 {% csrf_token %}

    <input type="text"  class="form-control"  placeholder="Name" required>
  <br/>
  <input type="email"  class="form-control"  placeholder="Email"required>
  <br/>
  <input type="number" class="form-control"  placeholder="Phone number"required>
  <br/>
  <input type="number" class="form-control"    placeholder="Age" required>
  <br/>
  <input type="file" >
  <br/>
  <input type="submit"class="form-control"    value="save">


 </form>


 {% endblock  %}
